:root {
  --background-color: rgb(212, 212, 212);
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: rgb(212, 212, 212);
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: rgb(212, 212, 212);
  --link-color: #828fff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

.fillscreen {
  position: absolute;
  top:0px;
  left: 0px;
  height:100%;
  width:100%
}

#editor-container {
  background:white;
  width:500px;
  height: 375px;
}